@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --font-poetsen-one: 'Poetsen One', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-roboto-mono: 'Roboto Mono', monospace;
  --primary: "#EF6FDE",
  --secondary: "#DF84FF",
  --tertiary: "#84D3FF",
  --background: "#0A0B18",
  --box: "#171621",
  --font: "#E5E5E5",
  --bg_gradient: "#543568",
}

html {
  color:var(--font);
  margin: 0;
  padding: 0;
  width: 100;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #3b2b52, #0c0c1d);

  background-repeat: no-repeat;

  min-height: 100%;
  height: auto; 
  scrollbar-width: none;

}

.font-poetsen {
  font-family: var(--font-poetsen-one); 
}


body {
  margin: 0; 
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
  display: flex; 
  flex-direction: column;

  background: none !important; 

  font-family: Roboto, Helvetica, sans-serif;
}

body > div:first-child {
  flex-grow: 1; 

  display: flex;
  flex-direction: column;
}


.bg-box{
  background-color: #171621;
}

.bg-background{
  background-color: #0A0B18;
}

.typing-effect h1 {
  font-size: 2rem;
  font-family: 'Courier New', monospace;
}

.typing-effect span {
  /* min-height: 2.25rem; */
  border-right: 3px solid #fff; 
  padding-right: 2px;
  animation: blink-caret 0.7s step-end infinite;
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.neon-line {
  position: absolute;
  top: -10;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 110%;
  background: #EF6FDE; 
  border-radius: 2px;
  box-shadow: 
    0 0 8px #EF6FDE,
    0 0 20px #EF6FDE,
    0 0 40px #EF6FDE;
  transition: box-shadow 0.3s ease;
  z-index: -1;
}

.neon-line:hover {
  box-shadow: 
    0 0 15px #EF6FDE,
    0 0 30px #EF6FDE,
    0 0 60px #EF6FDE;
}

@keyframes neonPulse {
  0%, 100% {
    box-shadow: 0 0 8px #EF6FDE, 0 0 20px #EF6FDE, 0 0 40px #EF6FDE;
  }
  50% {
    box-shadow: 0 0 20px #EF6FDE, 0 0 40px #EF6FDE, 0 0 80px #EF6FDE;
  }
}

.neon-line {
  animation: neonPulse 2s infinite ease-in-out;
}


